.sidenav-container {
  background: #122c5e;
  height: 100%;
}

.sidenav {
  text-align: center;
}

.sidenav .summoner-icon {
  padding-top: 40px;
  position: relative;
}

.sidenav .summoner-icon img {
  border: 6px solid #785a28;
  border-radius: 50%;
  height: 130px; width: 130px;
  margin-top: 5px;
}

.sidenav .summoner-icon .border-circle {
  border: 1px solid #785a28;
  border-radius: 50%;
  height: 154px; width: 154px;
  margin: 0 auto;
  position: absolute;
  top: 38px; left: 0px; right: 0;
}

.sidenav .summoner-icon .level-circle {
  background: #1b1b1b;
  border: 2px solid #424242;
  border-radius: 50%;
  bottom: 4px; right: 10px;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  position: absolute;
}

.sidenav h1 {
  color: #fff;
  font-size: 18px;
}

.sidenav .renew-button {
  background: #32579e;
  color: white;
}

.sidenav .renew-button md-icon {
  font-size: 18px;
  margin-left: -3px;
  padding-top: 5px;
  padding-right: 3px;
}

.sidenav .divider {
  border: 1px solid #0c1e42;
  margin-top: 40px;
}
