<div class="analysis-container"
     fxLayout.gt-md="row"
     fxLayout.lt-lg="column">

  <div class="radar-chart-container"
       fxFlex
       fxLayout="row">
    <app-radar-chart [participant]="participant"></app-radar-chart>
  </div>

  <div class="game-table-container"
       fxFlex
       fxLayout="row">
    <div class="game-table-wrapper"
         fxFlexOffset="10"
         fxFlex="80">

      <h1>Expected Performance</h1>
      <div class="game-table"
           fxLayout="row">

        <table class="table table-striped">
          <tbody>
          <tr>
            <td></td>
            <td><img src="//ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Velkoz.png"></td>
            <td><div class="icon-wrap"><i class="material-icons">thumb_up</i></div></td>
          </tr>
          <tr>
            <td>Kills</td>
            <td>5</td>
            <td>10</td>
          </tr>
          <tr>
            <td>Deaths</td>
            <td>4</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Assists</td>
            <td>6</td>
            <td>7</td>
          </tr>
          <tr>
            <td>CS</td>
            <td>240</td>
            <td>280</td>
          </tr>
          <tr>
            <td>Jungle CS</td>
            <td>10</td>
            <td>15</td>
          </tr>
          <tr>
            <td>Damage</td>
            <td>25K</td>
            <td>30K</td>
          </tr>
          <tr>
            <td>Healing</td>
            <td>4K</td>
            <td>3K</td>
          </tr>
          <tr>
            <td>Vision</td>
            <td>10</td>
            <td>16</td>
          </tr>
          <tr>
            <td>First Tower</td>
            <td>32m</td>
            <td>20m</td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>
</div>
