.analysis-container {
  border-bottom: 2px solid #dadada;
  width: 100%;
}

/*----------------------------------------------*/

.radar-chart-container {
  border-right: 2px solid #dadada;
  display: block!important;
  padding-bottom: 70px;
  padding-top: 30px;
}

/*----------------------------------------------*/

.game-table-container {
  display: block!important;
  padding-bottom: 70px;
  padding-top: 30px;
}
