.radar-chart canvas {
  width: 100%!important;
}

.radar-chart h1 {
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  padding: 12px;
  text-align: center;
}

.victory h1 {
  background: #2980b9;
}

.defeat h1 {
  background: #e74c3c;
}
