nav {
  background: #1f1f1f;
  height: 55px;
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
}

.navbar-wrap {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.navbar-items {
  display: inline-block;
  height:55px;
  margin:0 auto;
  position: relative;
}

.navbar-items > li {
  cursor: pointer;
  display: inline-block;
  height:55px;
  list-style: none;
  margin-right: 50px;
  position: relative;
}

.navbar-items > li > a,
.navbar-items > li > a:link,
.navbar-items > li > a:visited {
  color: inherit;
  font-size: 15px;
  line-height: 55px;
  text-decoration: none;
}

.navbar-items > li > a > img {
  width: 25px;
  vertical-align: middle;
  margin-right: 10px;
}
