.video-background {
  height: 750px;
  margin-top: 55px;
  overflow: hidden;
  position: relative;
}

.video-background video,
.video-background img {
  min-height: 100%;
  min-width: 100%;
}

.video-background:before {
  background: #132f63;
  content: "";
  opacity: .8;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 1;
}

.video-header {
  margin: auto;
  position: absolute;
  text-align: center;
  top:0; left:0; right:0; bottom:0;
  z-index: 10;
}

.video-header h1 {
  color: #fff;
  font-size: 55px;
  font-family: VikingSquad,serif;
  margin-top: 150px;
}

app-searchbar .search-input {
  margin: 50px auto 0;
  position: relative;
  width: 540px;
}

app-searchbar .search-input > md-icon {
  color: #7b7b7b;
  cursor: pointer;
  position: absolute;
  top: 25px; right: -5px;
}

app-searchbar input {
  background: #fff!important;
  border-radius: 5px;
  border-width: 0;
  box-shadow: 0px 0px 200px 13px rgba(126, 174, 255, 0.68);
  font-size: 18px;
  margin-left: -20px;
  padding: 25px!important;
  width: 100%;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  -ms-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

app-searchbar input:focus {
  box-shadow: 0px 0px 40px 5px #7eaeff;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
  transition: all 0.20s ease-in-out;
}

app-location-picker .location-button {
  background: #6284c5;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  padding: 10px;
  position: absolute;
  right: 40px;
  top: 18px;
}
