.location-button {
  background: #6284c5;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 15px;
  position: absolute;
  right: 40px;
  top: 16px;
}

.location-button > span {
  vertical-align: middle;
}

.location-button > img {
  border-radius: 100px;
  box-shadow: 1px 1px 0 #232323;
  margin-right: 2px;
  vertical-align: middle;
  width: 20px;
}
