<div class="main-content">
  <div class="container" fxLayout.lt-xl="column">

    <div class="match victory" fxLayout.lt-xl="column">
      <div class="match-data" fxLayout.lt-xl="row">

        <div class="result"></div>
        <div class="champion"><img src="//ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Velkoz.png" alt=""></div>
        <div class="time">
          <div class="date">02/04</div>
          <div class="duration">35 <span>m</span></div>
        </div>
        <div class="kda" fxFlex.lt-xl>
          <div class="score">5 / 0 / 5</div>
          <span class="ratio">3.50 KDA</span>
        </div>
        <div class="farm" fxFlex.lt-xl>230 <span>CS</span></div>
        <div class="role" fxFlex.lt-xl><img src="../../../assets/img/mage.png">MID</div>
        <div class="lvl" fxFlex.lt-xl><span>LVL</span> 18</div>

      </div>
    </div>

    <div class="match defeat" fxLayout.lt-xl="column">
      <div class="match-data" fxLayout.lt-xl="row">

        <div class="result"></div>
        <div class="champion"><img src="//ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Veigar.png" alt=""></div>
        <div class="time">
          <div class="date">02/04</div>
          <div class="duration">35 <span>m</span></div>
        </div>
        <div class="kda" fxFlex.lt-xl>
          <div class="score">5 / 0 / 5</div>
          <span class="ratio">3.50 KDA</span>
        </div>
        <div class="farm" fxFlex.lt-xl>230 <span>CS</span></div>
        <div class="role" fxFlex.lt-xl><img src="../../../assets/img/mage.png">MID</div>
        <div class="lvl" fxFlex.lt-xl><span>LVL</span> 18</div>

      </div>
    </div>

    <div class="match defeat" fxLayout.lt-xl="column">
      <div class="match-data" fxLayout.lt-xl="row">

        <div class="result"></div>
        <div class="champion"><img src="//ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Veigar.png" alt=""></div>
        <div class="time">
          <div class="date">02/04</div>
          <div class="duration">35 <span>m</span></div>
        </div>
        <div class="kda" fxFlex.lt-xl>
          <div class="score">5 / 0 / 5</div>
          <span class="ratio">3.50 KDA</span>
        </div>
        <div class="farm" fxFlex.lt-xl>230 <span>CS</span></div>
        <div class="role" fxFlex.lt-xl><img src="../../../assets/img/mage.png">MID</div>
        <div class="lvl" fxFlex.lt-xl><span>LVL</span> 18</div>

      </div>
    </div>

    <!--<div class="match defeat" fxLayout.lt-xl="column">
      <div class="match-data" fxLayout.lt-xl="row">
        <div class="champion">
          <img src="//ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Veigar.png" alt="Veigar">
        </div>
        <div class="spells"
             fxLayout.lt-xl="column">
          <img src="//ddragon.leagueoflegends.com/cdn/6.24.1/img/spell/SummonerFlash.png" class="spell">
          <img src="//ddragon.leagueoflegends.com/cdn/6.24.1/img/spell/SummonerBarrier.png" class="spell">
          <img src="//ddragon.leagueoflegends.com/cdn/6.24.1/img/mastery/6362.png" class="spell">
        </div>
        <div class="game">
          <h1>Ranked Solo - <span>Victory</span></h1>
          <div class="duration"><i class="material-icons">timer</i>21m 50s</div>
          <div class="date"><i class="material-icons">date_range</i>01/04/17</div>
          <div class="kda"><img src="//ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/score.png"> 5 / <span>0</span> / 5</div>
          <span class="kda-ratio">3.50 KDA</span>
        </div>
        <div class="teams">
          <div class="summoners">
            <div class="summoner"><img src="//ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Veigar.png"><a href="">anders4321</a></div>
            <div class="summoner"><img src="//ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Veigar.png"><a href="">Born To Stack Yo test</a></div>
            <div class="summoner"><img src="//ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Veigar.png"><a href="">anders4321</a></div>
            <div class="summoner"><img src="//ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Veigar.png"><a href="">anders4321</a></div>
            <div class="summoner"><img src="//ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Veigar.png"><a href="">anders4321</a></div>
          </div>
          <div class="summoners">
            <div class="summoner"><img src="//ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Velkoz.png"><a href="">anders4321</a></div>
            <div class="summoner"><img src="//ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Velkoz.png"><a href="">anders4321</a></div>
            <div class="summoner"><img src="//ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Velkoz.png"><a href="">anders4321</a></div>
            <div class="summoner"><img src="//ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Velkoz.png"><a href="">anders4321</a></div>
            <div class="summoner"><img src="//ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Velkoz.png"><a href="">anders4321</a></div>
          </div>
        </div>
        <div class="items">
          <div class="level"><img src="//ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/champion.png">LVL 18</div>
          <div class="minions"><img src="//ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/minion.png">150 CS</div>
          <md-grid-list cols="3" gutterSize="3px">
            <md-grid-tile class="item"><img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/3165.png"></md-grid-tile>
            <md-grid-tile class="item"><img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/3135.png"></md-grid-tile>
            <md-grid-tile class="item"><img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/3089.png"></md-grid-tile>
            <md-grid-tile class="item"><img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/3020.png"></md-grid-tile>
            <md-grid-tile class="item"><img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/3001.png"></md-grid-tile>
            <md-grid-tile class="item"></md-grid-tile>
            <div class="ward"><img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/3340.png"></div>
          </md-grid-list>
        </div>
        <div class="develop">
          <i class="material-icons">keyboard_arrow_down</i>
          <video autoplay="" loop="">
            <source src="../../../assets/videos/8882536.mp4" type="video/mp4">
            <source src="" type="video/webm">
          </video>
        </div>
      </div>
      <app-analysis></app-analysis>
    </div>-->



  </div>
</div>
