<div class="match victory" fxLayout.gt-sm="column">

  <div class="match-data"
       (click)="toggleMatchDisplay()"
       [ngClass]="{'analysis-displayed':displayMatchAnalysis}"
       fxLayout.gt-sm="row">
    <div class="result"></div>
    <div class="champion"><img src="//ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Velkoz.png" alt=""></div>
    <div class="time">
      <div class="date">02/04</div>
      <div class="duration">35 <span>m</span></div>
    </div>
    <div class="kda" fxFlex.gt-sm>
      <div class="score">5 / 0 / 5</div>
      <span class="ratio">3.50 KDA</span>
    </div>
    <div class="farm" fxFlex.gt-sm>230 <span>CS</span></div>
    <div class="role" fxFlex.gt-sm><img src="../../../assets/img/mage.png">MID</div>
    <div class="lvl" fxFlex.gt-sm><span>LVL</span> 18</div>
  </div>

  <app-analysis *ngIf="displayMatchAnalysis"></app-analysis>

</div>
