<div class="match victory" fxLayout="column"> <!-- TODO: victory or defeat class -->

  <div class="match-data"
       (click)="toggleMatchDisplay()"
       [ngClass]="{'analysis-displayed':displayMatchAnalysis}"
       fxLayout="row">
    <div class="result"></div>
    <div class="champion"><img src="//ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{participant.champion.key}}.png" alt=""></div>
    <div class="time">
      <div class="date">{{match.timestamp | date: "dd/MM"}}</div>
      <div class="duration"> {{match.detail.duration | matchDuration}} <span>m</span></div>
    </div>
    <div class="kda" fxFlex>
      <div class="score">{{participant.statistics.kills}} / {{participant.statistics.assists}} / {{participant.statistics.deaths}}</div>
      <span class="ratio">NOPE KDA</span> <!-- TODO: KDA compute and color changing -->
    </div>
    <div class="farm" fxFlex>{{participant.statistics.minionsKilled + participant.statistics.neutralMinionsKilled}} <span>CS</span></div>
    <div class="role" fxFlex><img src="../../../assets/img/{{participant.role}}.png">{{participant.role}}</div>
    <div class="lvl" fxFlex><span>LVL</span> {{participant.statistics.championLevel}}</div>
  </div>

  <app-analysis *ngIf="displayMatchAnalysis" [match]="match" [participant]="participant"></app-analysis>

</div>
