.victory .match-data {
  background: #daf0ff;
}

.victory .match-data:hover {
  border-bottom: 2px solid #2980b9;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.defeat .match-data {
  background: #ffe9e6;
}

.defeat .match-data:hover {
  border-bottom: 2px solid #e74c2c;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.match-data {
  border-bottom: 2px solid #dadada;
  cursor: pointer;
  font-size: 15px;
  height:80px;
  padding-bottom: 5px;
  padding-top: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.victory .analysis-displayed {
  border-bottom: 2px solid #2980b9;
}

.defeat .analysis-displayed {
  border-bottom: 2px solid #e74c2c;
}

/*----------------------------------------------*/

.match-data .result {
  width: 30px;
}

.victory .result {
  background: #2980b9;
}

.defeat .result {
  background: #e74c3c;
}

/*----------------------------------------------*/

.match-data .champion,
.match-data .champion img {
  height: 100%;
}

/*----------------------------------------------*/

.match-data .time {
  border-right: 2px solid rgba(0, 0, 0, 0.08);
  padding-left: 25px;
  padding-right: 2%;
  padding-top: 10px;
  width: 50px;
}

.match-data .time .date {
  padding-top: 8px;
}

.match-data .time .duration {
  padding-top: 2px;
}

.match-data .time .duration span {
  color: #929292;
}

/*----------------------------------------------*/

.match-data .kda {
  border-right: 2px solid rgba(0, 0, 0, 0.08);
  line-height: 70px;
  text-align: center;
}

.match-data .kda .score {
  display: inline-block;
  padding-right: 10px;
  text-align: right;
}

.match-data .ratio {
  text-align: left;
}

.match-data .kda .ratio span {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  padding: 3px 10px;
}

.kda .ratio .ratio-bad {
  background: #c0392b;
}

.kda .ratio .ratio-low {
  background: #e74c3c;
}

.kda .ratio .ratio-ok {
  background: #e67e22;
}

.kda .ratio .ratio-good {
  background: #2ecc71;
}

.kda .ratio .ratio-great {
  background: #27ae60;
}

/*----------------------------------------------*/

.match-data .farm {
  border-right: 2px solid rgba(0, 0, 0, 0.08);
  line-height: 70px;
  text-align: center;
}

.match-data .farm span {
  color: #929292;
}

/*----------------------------------------------*/

.match-data .role {
  border-right: 2px solid rgba(0, 0, 0, 0.08);
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
}

.match-data .role img {
  vertical-align: middle;
  width: 25px;
}

/*----------------------------------------------*/

.match-data .lvl {
  border-right: 2px solid rgba(0, 0, 0, 0.08);
  line-height: 70px;
  text-align: center;
}

.match-data .lvl span {
  color: #929292;
}

/*----------------------------------------------*/
